{
    "openamUrl" : "<OpenAM full url>",
    "openamPath" : "<OpenAM context path>",
    "user" : "<admin user>",
    "password" : "<admin password>",
    "openamCookie": "<OpenAM cookie name>",
    "openamCookieDomain": "<OpenAM cookie domain>",
    "idTokenHintTree": "<OpenAM name of the authentication tree with IDTokenHint node>"
}
